<footer class="bg-custom-color text-center text-lg-start text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row my-4">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <!-- Logo -->
        <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px; overflow: hidden;">
          <img src="assets/image.png" style="max-width: 100%; max-height: 100%;" alt="Ricoletto Logo" loading="lazy" />
        </div>
        
        <!-- Slogan -->
        <p class="text-center">¡La fantasía del helado hecha realidad!</p>

        <!-- Social media links -->
        <ul class="list-unstyled d-flex flex-row justify-content-center">
          <li>
            <a class="text-white px-2" href="https://www.facebook.com/profile.php?id=100063554441247&sk=about">
              <i class="fab fa-facebook-square"></i>
            </a>
          </li>
          <li>
            <a class="text-white px-2" href="https://www.instagram.com/ricoletto_heladeria/">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <!-- Section title -->
        <h5 class="text-uppercase mb-4">Productos</h5>

        <!-- List of products -->
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-cookie pe-3"></i>Galletas de Estrellas</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-cookie pe-3"></i>Galletas de Conos</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-cookie pe-3"></i>Galletas de Cucharas</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-ice-cream pe-3"></i>Helados de Cream Helado</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <!-- Section title -->
        <h5 class="text-uppercase mb-4">Información sobre Ricoletto</h5>

        <!-- List of information -->
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-info-circle pe-3"></i>Historia de Ricoletto</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-info-circle pe-3"></i>Misión y Visión</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-info-circle pe-3"></i>Valores</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-info-circle pe-3"></i>Contacto</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <!-- Section title -->
        <h5 class="text-uppercase mb-4">Contacto</h5>

        <!-- Contact information -->
        <ul class="list-unstyled">
          <li>
            <p><i class="fas fa-map-marker-alt pe-2"></i>Calle 18 8-90, Popayán, Colombia, 1900</p>
          </li>
          <li>
            <p><i class="fas fa-phone pe-2"></i>+57 3216734997</p>
          </li>
          <li>
            <p><i class="fas fa-envelope pe-2 mb-0"></i> <a href="link">ricoletoicecream&#64;gmail.com </a></p>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Ricoletto Heladería y Galletería | Todos los derechos reservados
  </div>
  <!-- Copyright -->
</footer>
